# Unity-generated data (including the validation project).
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]uild/
[Bb]uilds/
[Mm]emoryCaptures/
[Rr]ecordings/
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DS_Store
.DS_Store
*.tmp
*.log
TestResults/
Artifacts/
**/NativePlugin~/build/
sysinfo.txt
crashlytics-build.properties
